/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --color-text: #353430;
  --color-title: #FFC2E6;
  --accent-color: #FF8DCB;
  --bg-color: #FF8DCB;
  --border: 1px solid var(--color-text);
  --border-rgba: 1px solid rgba(50, 49, 45, 0.4);
  --border-focus: 1px solid rgba(53, 52, 48, 1);
  --color-border: #353430;
  --display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --color-text: #353430;
    --color-title: #FFC2E6;
    --accent-color: #FF8DCB;
    --bg-color: #FF8DCB;
    --border: 1px solid var(--color-text);
    --border-rgba: 1px solid rgba(50, 49, 45, 0.4);
    --border-focus: 1px solid rgba(53, 52, 48, 1);
    --color-border: #353430;
  }
} 